<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1505686994434-e3cc5abf1330?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2104&q=80')">

  <div class="banner-text">
    <h1>Curated movie lists</h1>
    <h3>Find the perfect movie for your movie night</h3>
  </div>
</div>


<div class="container">
  <div class="page-header-spaced">
    <h1>All lists</h1>
    <%= link_to '#list-form' do %>
      <button class="btn btn-blue">
        Create a new List
      </button>
    <% end %>
        
  </div>

  <div class="list-card-container" id="list-form">
    <% @lists.each do |list| %>
      <% if list.photo.attached? %>
        <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path list.photo.key, height: 300, width: 400, crop: :fill %>')">
          <h3><%= link_to list.name, list_path(list) %></h3>
        </div>
      <% else %>
        <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80')">
          <h3><%= link_to list.name, list_path(list) %></h3>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="form-container">
    <h3>Create a new List</h3>
    <%= render 'form' %>
  </div>
  
</div>
