<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.pexels.com/photos/11702566/pexels-photo-11702566.jpeg?auto=compress&cs=tinysrgb&w=800'); background-position: 60% 30%; height: 300px;" id="page-top">

  <div class="banner-text">
    <h1>Rankings</h1>
  </div>
</div> <!-- banner -->

<div class="row">
  <div class="col-12 col-md-9">
    <h2 class="text-center mt-4" id="top-5">Top 5 rated movies</h2>
    <div class="movies-list">
      <% @top_5_movies.each do |movie| %>
        <div class="movie-card">
          <div class="movie-image-container">
            <img src="<%= movie.poster_url %>" alt="movie poster" class="movie-image">
          </div>
          <div class="movie-info">
            <div class="title-wrapper">
              <h3><%= movie.title %></h3>
            </div>
            <span class="rating" data-controller="color-rating" data-color-rating-target="rating"><%= movie.rating %></span>
          </div>
          
          <div class="overview">
            <%= movie.overview %>
          </div>
        </div> <!-- movie-card-->
      <% end %>
    </div> <!-- movie-list-->

    <h2 class="text-center mt-4" id="most-added">Most added movies</h2>
    <div class="movies-list">
      <% @most_added_movies.each do |movie| %>
        <div class="movie-card">
          <div class="movie-image-container">
            <img src="<%= movie.poster_url %>" alt="movie poster" class="movie-image">
          </div>
          <div class="movie-info">
            <div class="title-wrapper">
              <h3><%= movie.title %></h3>
            </div>
            <span class="rating" data-controller="color-rating" data-color-rating-target="rating"><%= movie.rating %></span>
          </div>
          
          <div class="overview">
            <%= movie.overview %>
          </div>
        </div> <!-- movie-card-->
      <% end %>
    </div>
    
    <h2 class="text-center mt-4" id="best-rated-lists">Most Rated Lists</h2> <!-- movie-list-->

    <div class="list-card-container" id="list-form">
    <% @most_rated_lists.each do |list| %>
      <!-- <div data-aos="fade-up" data-aos-duration="2000"> -->
        <%= link_to list_path(list) do %>
          <div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80') %>)">
            <h3><%= list.name %></h3>
            <h3><i class="fas fa-star"></i> <%= list.average_rating %></h3>
          </div>
        <% end %>
      <!-- </div> -->
    <% end %>
  </div>

  </div>

  <div class="col-md-3">
    <div class="menu-list">
      <div class="top-links">
        <a href="#top-5"><p>Top 5 movies</p></a>
        <a href="#most-added"><p>Most Added</p></a>
        <a href="#best-rated-lists"><p>Highest Rated Lists</p></a>
      </div>

      <div class="bottom-link">
        <a href="#page-top"><span class="d-flex align-items-center"><i class='bx bx-fade-up-hover bxs-up-arrow-circle bx-md'></i></span></a>
      </div>
    </div>
  </div>
</div>
