  
    
<% if @list.photo.attached? %>
  <div class="page-header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 400, width: 800, crop: :fill %>')">
    <div class="page-header-banner-content" >
      <h1><%= @list.name %></h1>
    </div>
  </div>
<% else %>
    <div class="page-header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80')">
    <div class="page-header-banner-content" >
      <h1><%= @list.name %></h1>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="page-header">
    <button type="button" class="btn btn-blue" data-toggle="modal" data-target="#bookmark-modal-form">
        Bookmark a movie
    </button>
  </div>

  <div class="modal fade" id="bookmark-modal-form" tabindex="-1" aria-labelledby="bookmarkModalFormLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Movie to <%= @list.name %> list</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id='bookmark_form'>
          <%= turbo_frame_tag 'bookmark', target: '_top' do %>
            
              <%= render 'bookmarks/form' %>
   
          <% end %>
        </div>       
      </div>
    </div>
  </div>

  <div class="movies-list">
    <% @movies_list.each do |movie| %>
      <div class="movie-card">
        <img src="<%= movie.poster_url %>" alt="movie poster" class="movie-image">
        <div class="movie-info">
          <div class="title-wrapper">
            <h3><%= movie.title %></h3>
          </div>
          <span class="rating"><%= movie.rating %></span>
        </div>
        <div class="movie-comments">
            <% movie.bookmarks.each do |bookmark| %>
              <i class="fas fa-quote-left"></i> <%= bookmark.comment %>
            <% end %>
        </div>
        <div class="overview">
          <%= movie.overview %>
        </div>
      </div> <!-- movie-card-->
    <% end %>
  </div> <!-- movie-list-->

</div> <!-- container -->

<%= javascript_pack_tag 'color_rating' %>