<div class="modal-body" id='bookmark_form'>
  <%= turbo_frame_tag 'bookmark', target: '_top' do %>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, input_html: { class: 'select2' } %>
      <%= f.input :comment, as: :text %>
      <%= f.submit class: 'btn btn-blue' %>
    <% end %>    
  <% end %>
</div>
